body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.653);
  background-image: linear-gradient(
    150deg,
    #4ca1af 0%,
    #c4e0e5 100%
  );
  text-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.353);
  background-size: cover;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.button-login {
  padding: 15px 100px;
  border-radius: 999px;
}